<html>

<head>
  <title>Football Data RestAPI</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <h1>Football Data RestAPI</h1>
  <p>Welcome to Football Data RestAPI</p>

  <a target="__blank" href="<%= api_docs %>">API Docs</a>
</body>

</html>